<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http:mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijun.vip.dao.VIPDao">
    <resultMap id="vipMap" type="com.yijun.vip.entity.VIPEntity">
        <result property="id" column="id"></result>
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="qq" column="qq"></result>
        <result property="email" column="email"></result>
        <result property="address" column="address"></result>
        <result property="zip" column="zip"></result>
        <result property="remark" column="remark"></result>
        <result property="rank" column="rank"></result>
        <result property="amount" column="amount"></result>
    </resultMap>
    <insert id="insert">
        insert into vip_detail(id,code,name,age,sex,qq,email,address,zip,remark,rank,amount)
        values(#{id},#{code},#{name},#{age},#{sex},#{qq},#{email},#{address},#{zip},#{remark},#{rank},#{amount})
    </insert>
    <update id="updateVip" parameterType="com.yijun.vip.entity.VIPEntity">
        update vip_detail
        set
        <if test="name !=null and name != ''">
        name = #{name}
        </if>
        <if test="age != null and age != ''">
            ,age = #{age}
        </if>
        <if test="sex != null and sex != ''">
            ,sex = #{sex}
        </if>
        <if test="qq != null and qq != ''">
            ,qq = #{qq}
        </if>
        <if test="email != null and email != ''">
            ,email = #{email}
        </if>
        <if test="address != null and address != ''">
            ,address = #{address}
        </if>
        <if test="zip != null and zip != ''">
            ,zip = #{zip}
        </if>
        <if test="remark != null and remark != ''">
            ,remark = #{remark}
        </if>
        <if test="rank != null and rank != ''">
            ,rank = #{rank}
        </if>
        <if test="amount != null and amount != ''">
            ,amount = #{amount}
        </if>
        where code = #{code}
    </update>
    <select id="select" resultMap="vipMap">
        select * from vip_detail where ${key} = #{value}
    </select>
    <select id="selectAllVips" resultMap="vipMap">
        select * from vip_detail
    </select>
    <!-- count(1)实质上与count(*)功能类似;但是count(1)只扫描主键，count(*)会扫描整张表-->
    <select id="exists" resultType="java.lang.Boolean">
        select count(1)>0 from vip_detail where ${key} = #{value}
    </select>
    <select id="selectLike" >
        select * from vip_detail
        <if test="key!=null">
            where code like #{code}
            or name like #{name}
            or qq like #{qq}
            or email like #{email}
            or address like #{address}
            or remark like #{remark}
        </if>
        order by code
    </select>
    <delete id="delete" parameterType="com.yijun.vip.entity.VIPEntity">
        delete from vip_detail where ${key} = #{value}
    </delete>
</mapper>